body{
    background-color: rgb(23, 31, 31);
    font-size: 24px;
    padding: 0;
    margin: 0;
    color:rgb(176, 186, 196);
}

header, main, footer 
{
    width: 100%;
}

header{
    background-color: rgb(30, 43, 43);
    border-radius: 0px 0px 20px 20px;
    padding: 5px;
}

.URLs a{
    color: rgb(176, 186, 196);
    padding: 10px;
    float: left;  
}

.URLs{
    order: 0; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer{
    background-color: rgb(30, 43, 43);
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

main{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

nav a{
    color: rgb(118, 182, 182);
    font-size: 24px;
    padding: 10px;
}

tr:nth-child(odd){
    background-color: rgba(64, 86, 185, 0.705);
}

tr:nth-child(even){
    background-color: rgb(30, 30, 43);
}

img {
    border-radius: 100%;
    width: 200px;
    height: 150px;
}

table{
    order: 1;
    border: 5px double black;
}

nav{
    order: 2;
}

form{
    padding-left: 10px;
    order: 4;
}

h2{
    color: cornflowerblue;
    margin-bottom: 10px;
    order: 3;
}

th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

input{
    background-color: rgb(118, 182, 182);
}

.button{
    padding: 5px;
    font-size: 24px;
    border: 1px solid black;
}

h1{
    display: inline-block;
    margin-left: 30px;
    font-size: 40px;
}

li{
    margin: 5px 0px 5px 0px;
}

@media screen and (min-width: 768px) 
{
    main{
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin: 0 auto;
    }

    table{
        order: 2;
    }
    
    nav{
        order: 1;
    }

    .URLs{
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: row;
    }
}
