body{
    background-color: rgb(23, 31, 31);
    font-size: 24px;
    padding: 0;
    margin: 0;
    color:rgb(176, 186, 196);
}

header{
    background-color: rgb(30, 43, 43);
    border-radius: 0px 0px 20px 20px;
    padding: 5px;
}

footer{
    background-color: rgb(30, 43, 43);
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

nav{
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
}

a{
    color: rgb(118, 182, 182);
    font-size: 28px;
}

tr:nth-child(odd){
    background-color: rgba(64, 86, 185, 0.705);
}

tr:nth-child(even){
    background-color: rgb(30, 30, 43);
}

img {
    border-radius: 100%;
    width: 200px;
    height: 150px;
}

header a{
    border: 1px dashed cornflowerblue;
    border-right: none;
    border-top: none;
    padding: 10px;
    float: right; 
}

table{
    border: 5px double black;
}

th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

h2{
    color: cornflowerblue;
    margin-bottom: 10px;
}

input{
    background-color: rgb(118, 182, 182);
}

.button{
    padding: 5px;
    font-size: 24px;
    border: 1px solid black;
}

.URLs{
    position: absolute;
    top: 0;
    right: 0;
}

h1{
    display: inline-block;
    margin-left: 30px;
}

li{
    margin: 5px 0px 5px 0px;
}